.bd {
  height: 95%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bd__image {
    height: auto;
    width: 100%;
}

@media screen and (min-width: 500px) {
  .bd__image {
    height: 100%;
    width: auto;
}
}
