.bd__footer {
  background-color: black;
  height: 10%;
  width: 100%;
}

.bd__footerImg {
  width: 100%;
}

@media all and(min-width: 1000px) {
  .bd__footer {
  height: 5%;
  width: 100%;

}

.bd__footerImg {
  height:75%;
  width:auto;
}


}
