include ../partials/header.pug

<div class="home">
  <div class="home__perso">

    <div class="home__persoDada home_persos">
      <h1 class="home__persoNom">Dadamato </h1>
      <h2 class="home__persoTrad">다다마토</h2>
      <a class="home__persolink" href="#">
       <img class="home__persoImage" src="img/dadamato.jpg">
      </a>
    </div>

    <div class="home__persoTats home_persos">
      <h1 class="home__persoNom">tatsmato </h1>
      <h2 class="home__persoTrad">타츠마토</h2>
      <a class="home__persolink" href="#" >
        <img class="home__persoImage" src="img/tatsmato.jpg">
      </a>
    </div>

    <div class="home__persoShishi home_persos">
      <h1 class="home__persoNom">Shishimato</h1>
      <h2 class="home__persoTrad">시시마토</h2>
      <a class="home__persolink" href="#" >
       <img class="home__persoImage" src="img/shishimato.jpg">
      </a>
    </div>

    <div class="home__persoToto home_persos">
      <h1 class="home__persoNom">Totomato</h1>
      <h2 class="home__persoTrad">토토마토</h2>
      <a class="home__persolink" href="#" >
        <img class="home__persoImage" src="img/totomato.jpg">
      </a>
    </div>

    <div class="home__persoKeke home_persos">
      <h1 class="home__persoNom">Kekemato</h1>
      <h2 class="home__persoTrad">케케마토</h2>
      <a class="home__persolink" href="#" >
       <img class="home__persoImage" src="img/kekemato.jpg">
      </a>
    </div>

    <div class="home__persoJoko home_persos">
      <h1 class="home__persoNom">Jokomato</h1>
      <h2 class="home__persoTrad">조코마토</h2>
      <a class="home__persolink" href="#" >
        <img class="home__persoImage" src="img/jokomato.jpg">
      </a>
    </div>

  </div>
</div>

include ../partials/footer.pug
