include ../partials/header.pug

<div class="home_background">
<div class="home_perso">
 <a class="home_link" href="#"><img class="home_persoImage" src="img/dadamato.jpg"></a>
 <a class="home_link" href="#" ><img class="home_persoImage" src="img/tatsmato.jpg"></a>
 <a class="home_link" href="#" ><img class="home_persoImage" src="img/shishimato.jpg"></a>
 <a class="home_link" href="#" ><img class="home_persoImage" src="img/totomato.jpg"></a>
 <a class="home_link" href="#" ><img class="home_persoImage" src="img/kekemato.jpg"></a>
 <a class="home_link" href="#" ><img class="home_persoImage" src="img/jokomato.jpg"></a>
 </div>
</div>

include ../partials/footer.pug
