 include ../partials/header.pug

<div class="welcome">
  <a class="welcome__link" href="./home.html">
    <img class="welcome__logo" src="img/logo.png">
    <h1 class="welcome__text">Click</h1>
  </a>
</div>


