include ../partials/header.pug

<div class="welcome_background">
<a class="welcome_link" href="./home.html">
<img class="welcome_logo" src="img/logo.png">
<h1 class="welcome_text">Click </h1>

</a>
</div>


